 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Originally from St. Louis, MO, I now call Onalaska, WI 
                        (just outside of La Crosse, south of Minneapolis) my home.
                        With three kids and a wife, I spend much of my free-time 
                        as any father and husband does. When we're not around the 
                        house I'm with my family exploring the beautiful Coulee Region.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        I enjoy just about all outdoor activities I try, however,
                        more than anything I am drawn to kayaking, cycling, camping and 
                        hiking the back-woods areas surrounding me and my family.
                    </p>
                </div>
            </div>
        </div>
    </section>