 <!-- About Section -->
    <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Senior Software Architect</h4>
                    <h5>DrayNow, Inc</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>4/18 - Present</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Convert MVP into scalable and maintainable platform. Working with web application,
                        multiple data services, mobile application, infrastructure and developing engineering 
                        SOP and best practies. Planning and developing future features via data analysis and 
                        communicated business and customer requirements.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Senior Engineer</h4>
                    <h5>Jack Henry &amp; Associates</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>11/17 - 4/18</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Develop solutions to support multiple enterprise-level banking platforms. Work with 
                        team to create services supporting authentication, transactions, mobile and web platforms
                        and other business needs.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Architect</h4>
                    <h5>TechnologyAdvice</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>7/15 - 11/17</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Plan, develop, and maintain microservice architecture to support enterprise-scale 
                        customer relation, sales and data warehousing applications. Team leadership 
                        and development through internal training and mentorship. Infrastructure development 
                        and maintenance through Amazon Web Services.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Architect, Security Officer</h4>
                    <h5>TelePharm</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>4/14 - 7/15</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Analyze, plan, and execute architecture strategy for web-based pharmacy platform. 
                        Make decisions on development/technology stack, implementation, testing, production 
                        and development team roles, responsibilities and hires. Focus on scalability, customer 
                        support, and growth.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Practice Lead of Modern Web Architecture</h4>
                    <h5>AppendTo</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>11/12 - 4/14</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Oversight and leadership of architectural decisions, projects and discoveries, reporting 
                        to COO and CEO. Management of front-end development for enterprise-level web applications. 
                        Work with team of engineers and user interface / graphic designers to fulfill needs and 
                        goals of both client and application. Develop policies, standards and practices for the company.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Development Director</h4>
                    <h5>Tictonix</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>9/11 - 11/12</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Direct production and development of all web and new-media projects including web sites, 
                        web-based applications, interactive media and online marketing campaigns. Management 
                        and oversight of contracted developers and interaction with clients to ensure project 
                        goals and milestones are met.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Director of Interactive Development</h4>
                    <h5>Obata</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>4/08 - 9/11</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Provide direction to interactive and web devlepment team. Interface with 
                        clients during proposal, development, and execution stages of the project 
                        lifecycle. Provide guidance on new technologies, standards, and procedures.
                        Oversee internal server system including digital asset management, backups, 
                        video editing SAN systems.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 section-heading">
                    <h4>Technology Coordinator</h4>
                    <h5>Saint Louis University</h5>
                    <h5 class="experience-date"><i class="fa fa-calendar"></i>11/03 - 7/07</h5>
                </div>
                <div class="col-lg-7">
                    <p>
                        Web application developer and technical project manager for IT department. Hire 
                        and train new IT department employees on technical and organizational procedures. 
                        Advise on and implement technical projects for the School of Business and 
                        University-wide.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr class="star-light">
                    <p><em>For more in-depth, detailed information on specific roles please <a style="color: #fff; text-decoration: underline" href="#contact">contact me.</a></em></p>
                </div>
            </div>
        </div>
    </section>
