    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <i class="fa fa-laptop" style="font-size: 15rem; background-color: #2c3e50; padding: 4rem; margin-bottom: 3rem; border-radius: 50%"></i>
                    <div class="intro-text">
                        <span class="name">Web Developer</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>