 <!-- Projects Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Although many of the projects I have worked on are proprietary and 
                    not public-facing, I have contributed a large amount of time to open 
                    source projects:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Binci</h4>
                    <p>
                        CLI tool for easily containerizing projects locally using docker.
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/binci/binci" class="btn btn-primary">
                            <i class="fa fa-github"></i> Project Repo
                        </a>
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>Obey</h4>
                    <p>
                        JavaScript/NodeJS asyncronous data modelling and validation library.
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/TechnologyAdvice/obey" class="btn btn-primary">
                            <i class="fa fa-github"></i> Project Repo
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Codiad</h4>
                    <p>
                        Web-based interactive development environment (IDE).
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/Codiad/Codiad" class="btn btn-primary">
                            <i class="fa fa-github"></i> Project Repo
                        </a>
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>Node FSAPI</h4>
                    <p>
                        NodeJS RESTful (CRUD) server for interacting with remote file systems.
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/Fluidbyte/Node-FSAPI" class="btn btn-primary">
                            <i class="fa fa-github"></i> Project Repo
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary">
                    <p><em><a href="https://github.com/fluidbyte" target="_blank">View my GitHub</a> for more projects.</em></p>
                </div>
            </div>
        </div>
    </section>
