 <!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1 section-heading">
                    <h4>Architecture</h4>
                </div>
                <div class="col-lg-8">
                    <p>
                        Planning, development, and maintenance of application infrastructure, practices, standards, 
                        and procedures. Deployment to and maintenance of web applications on
                        IaaS and PaaS vendors such as AWS, Heroku, Joyent, Modulus, etc.
                        <ul class="tag-list">
                            <li>Continuous Integration</li>
                            <li>Deployment</li>
                            <li>Platform &amp; Infrastructure</li>
                            <li>Docker / Containers</li>
                            <li>Security</li>
                            <li>Server</li>
                            <li>Agile</li>
                            <li>Scaling</li>
                            <li>Resource Management</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1 section-heading">
                    <h4>Development</h4>
                </div>
                <div class="col-lg-8">
                    <p>
                        Application development utilizing modern languages techniques, 
                        and development patterns. Extensive experience with both user interface and 
                        service/server development.
                        <ul class="tag-list">
                            <li>JavaScript</li>
                            <li>NodeJS</li>
                            <li>Functional</li>
                            <li>Object-Oriented</li>
                            <li>Unix Shell</li>
                            <li>PHP</li>
                            <li>HTML/XML</li>
                            <li>CSS/Sass/LESS</li>
                            <li>Unit Testing</li>
                            <li>End-to-End / System Testing</li>
                            <li>Documentation</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1 section-heading">
                    <h4>Database</h4>
                </div>
                <div class="col-lg-8">
                    <p>
                        Database and structure planning, development, and execution. Both SQL and NoSQL 
                        databases including MySQL, Oracle, PostGRES, MariaDB, MongoDB, RethinkDB, ElasticSearch, 
                        and temporary/cache storage with Redis, ElastiCache, Memcached, MQ Services, etc. 
                        <ul class="tag-list">
                            <li>Modeling</li>
                            <li>Warehousing</li>
                            <li>Extract, Transform, Load</li>
                            <li>NoSQL Databases</li>
                            <li>SQL Databases</li>
                            <li>Elastic Databases</li>
                            <li>Redundancy</li>
                            <li>Backups</li>
                            <li>Cache</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1 section-heading">
                    <h4>Leadership</h4>
                </div>
                <div class="col-lg-8">
                    <p>
                        Team leadership through both formal, managerial assignment and informal engagement with 
                        with colleagues. Development of training, mentorship, and advancement programs for staff. 
                        Continous project/team oversight, product-delivery, and assessment.
                        <ul class="tag-list">
                            <li>Leadership</li>
                            <li>Mentoring</li>
                            <li>Agile / Scrum</li>
                            <li>Project Planning</li>
                            <li>Project Management</li>
                            <li>Product Ownership</li>
                            <li>Outcomes Assessment</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
